@import "variables.scss";
body {
	background: $gray-bg;
	font-family: $font-regular;
}
.tutorial-main-container{
	background: $gray-bg;
	color:$n-gray;
	padding-bottom: 20px;
    @media screen and (max-width: 800px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .txt-white{
    	color:#fff;
    }
	.tutorial-main-title{
		text-align: center;
		padding-bottom: 20px;
		position: relative;
		color: $blue;
		.close-btn{
			position: absolute;
		    right: 0;
		    top: 30px;
		    width: 36px;
		    height: 36px;
		    font-size: 32px;
		    line-height: 16px;
		    padding: 8px 10px;
		    border-radius: 50%;
		    text-align: center;
		    background: #ccc;
		    color: #fff;
		    @media screen and (max-width: 768px) {
		        // font-size: px;
		        // line-height: 25px;
		        // padding: 4px 6px;
		    }
		}
		.close-btn:hover{
			background-color: brown;
    		opacity: 0.6;
		}
	}
	.tutorial-container{
		background: transparent;
		text-align: center;
		padding: 0;
		.tutorial-part{
			padding: 0;
			position: relative;
			border-left: 1px solid $green;
			border-bottom: 1px solid $gray-dark;
			display: block;
			overflow: hidden;
			max-height: 0;
			opacity: 0;
			background: #fff;
		  	-webkit-transition: max-height, opacity 0.5s linear;
		  	-moz-transition: max-height, opacity 0.5s linear;
		  	-ms-transition: max-height, opacity 0.5s linear;
			-o-transition: max-height, opacity 0.5s linear;
			transition: max-height, opacity 0.5s linear;
		  	.tutorial-part-title{
				margin-bottom: 10px;
			}
			h3 {
				color: $blue;
			}
			p {
				margin: 10px;
				text-align: left;
			}
			h4{
				font-size: 18px;
				line-height: 26px;
				margin: 0;
			}
			.tutorial-part-subtitle{
				font-size: 13px;
				line-height: 12px;
				display: block;
				margin: 0 auto;
				padding-top: 6px;
			}
		}
	}
	.tutorial-part-no{
		position: absolute;
		left: -22px;
		top: 0;
		border-radius: 50%;
		width: 44px;
		height: 44px;
		font-size: 22px;
		line-height: 44px;
		text-align: center;
		border: 1px solid $blue;
		color:$green;
		background: #fff;
	}
	.tutorial-part-no:before{
		// content: "";
		// position: absolute;
		// left: 2px;
		// top: 2px;
		// width: 38px;
		// height: 38px;
		// border-radius: 50%;
		// border: 1px solid $green;
	}
	.code-container{
	    width:80%;
	    margin-left: auto !important;
    	margin-right: auto !important;
	}
	.tutorial-part-body{
		margin: 20px 0;
		.code-block{
			background: $n-navy;
		    padding: 10px;
		    margin: 0 auto;
		    border-radius: 6px;
			@media screen and (max-width: 768px) {
		        width: 100%;
		    }
			.hljs{
				background: $well-background;
			}
			.popover{
				color:$n-navy;
				.highlight-light{
					pre{
						height:auto;
					}
				}
			}
			span[class^="created_app_"]{
				cursor: pointer;
				padding-bottom: 2px;
				border-bottom:1px dotted $blue;
			}
		  .nav > li > a {
				padding: 0 5px;
				margin: 0;
				margin-right: 10px;
				border: 1px solid $blue;
				border-radius:4px;
				color:$blue;
			}
			.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover{
				background: $blue;
				color: $n-navy;
			}
			.nav-tabs{
				border: 0;
			}
			pre{
				background: transparent;
				border: 0;
				text-align: left;
				height: auto;
    		overflow: auto;
    		}
    		code{
    			margin-top: -10px;
	    		&.javascript{
	    			margin-top: -30px;
	    		}
    		}
    	}
		.console-block{
			margin-top: 20px;
			pre{
				max-height: 500px;
			}
			.console-btn-row{
				padding-bottom: 15px;
			}
		}
		.highlight-light{
			background: #fdf6e3;
			border: 1px solid #ECE2C7;
			.highlight-response{
				background: #ECE2C7;
				padding: 5px 10px;
			}
			pre{
				background: transparent;
				border: 0;
				text-align: left;
			}
		}
	}
	.tutorial-input-style{
		width: 200px;
		margin: 0 auto;
	}
	.tutorial-part-input{
		border: 0;
		border-bottom: 1px solid $blue;
		padding: 5px;
		width: 100%;
	}
	.tutorial-part-input[readonly]{
		background: #f7f7f7;
	}
	.input-success{
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		color: $green;
		font-size: 20px;
		line-height: 30px;
	}
	.tutorial-input-style.disabled{
		.input-success{
			display: inline-block;
		}
		.tutorial-part-input{
			padding-right: 30px;
		}
	}
	.tutorial-part-select{
		width: 100%;
		background: $blue;
		color: #fff;
		border-color:$blue;
		padding: 5px 0;
	}
	.tutorial-part-input:focus{
		outline: none;
	}
	.theme-btn{
		background: $blue;
		color:#fff;
		text-transform: uppercase;
	}
	.margin-top-gap{
		margin-top: 20px;
	}
	.with-load-container{
		position: relative;
		.loading-container{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			background: rgba(59, 199, 246, 0.7);
			color:#fff;
			text-align: center;
			display: none;
			.vertical-0{
				display: table;
			    width: 100%;
			    height: 100%;
			}
			.vertical-1{
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	.signal-circle{
		width: 3rem;
	    height: 3rem;
	    display: inline-block;
	    border-radius: 50%;
	    border: 2px solid #888;
	    position: relative;
	 	&:before{
		content: " ";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: transparent;
	    left: 0;
	    top: 0;
	    border-radius: 50%;
	    border: 2px solid #fff;
		}
	}
	.spinner {
	  width: 100%;
	  height: 100%;
	  display: block;
	  background-color: rgba(0,0,0,0.20);
	  border-radius: 100%;  
	  &.active{
			  background-color: #333;
			  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
			  animation: sk-scaleout 1.0s infinite ease-in-out;
			} 
	}
}
textarea.insert_text{
	width: 100%;
	height: 300px;
}
.btn-run{
	background: transparent;
	border: 1px solid $green !important;
	color: $green;
	padding-top:0 !important;
	padding-bottom:0 !important;
	font-weight: bold !important;
	&:hover,
	&:active,
	&:focus{
		color:$green  !important;
	}
}

#onlyCopy{
	height: 0;
    width: 0;
    opacity: 0;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.load-wrap.progress{
    margin: 0 !important;
    border-radius: 0 !important;
    height: 4px !important;
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: transparent;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    .progress-bar{
        background-color: $dark-blue  !important;
    }

	.progress-bar:before{
		content: "a";
	    position: absolute;
	    right: 0px;
	    top: 0;
	    width: 10px;
	    height: 5px;
	    color: transparent;
	    background: $dark-blue;
	    box-shadow: $blue 4px 0 6px 1px;
	    display: inline-block;
	}
	.progress-bar {
		position: relative;	
	  float: left;
	  width: 0;
	  height: 100%;
	  font-size: 12px;
	  line-height: 20px;
	  color: #fff;
	  text-align: center;
	  background-color: #337ab7;
	  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	  -webkit-transition: width .6s ease;
	       -o-transition: width .6s ease;
	          transition: width .6s ease;
	}
	.progress-striped .progress-bar,
	.progress-bar-striped {
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  -webkit-background-size: 40px 40px;
	          background-size: 40px 40px;
	}
	.progress.active .progress-bar,
	.progress-bar.active {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
	       -o-animation: progress-bar-stripes 2s linear infinite;
	          animation: progress-bar-stripes 2s linear infinite;
	}
	.progress-bar-success {
	  background-color: #5cb85c;
	}
	.progress-striped .progress-bar-success {
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	}
	.progress-bar-info {
	  background-color: #5bc0de;
	}
	.progress-striped .progress-bar-info {
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	}
	.progress-bar-warning {
	  background-color: #f0ad4e;
	}
	.progress-striped .progress-bar-warning {
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	}
	.progress-bar-danger {
	  background-color: #d9534f;
	}
	.progress-striped .progress-bar-danger {
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	}
}